.reset_password_container {
  text-align: center;
}

.reset_password_form {
  display: flex;
  flex-direction: column;
  gap: 24px
}

.reset_password_link {
  text-decoration: none;
  color: #4C4CFF
}