.burger_ingredients {
  padding-top: 40px;  
}

.ingredients_tabs {
  display: flex;
}

.ingredient_groups {
  overflow-y: auto;
  height: calc(100vh - 90px - 40px - 40px - 56px - 40px);
  scrollbar-width: thin;
}